@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}


#shiidverlelt{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 24px;
}

#shiidverlelt .container{
    width: 1300px;
    margin: auto;
    justify-content: center;
}

#shiidverlelt .subcontainer{
    width: 93%;
    margin: auto;
}

#shiidverlelt .filter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
}

#shiidverlelt .filter-item{
    text-decoration: none;
    color: crimson;
    padding: 2px 4px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    box-shadow: inset 0 0 0 0 crimson;
    cursor: pointer;
    width: 60px;
    text-align: center;
}

#shiidverlelt .active-filter{
    background-color: crimson;
    color: white;
    padding: 2px 4px;
}

#shiidverlelt .filter-item:hover{
    color: #fff;
    box-shadow: inset 210px 0 0 0 crimson;
}

.intro span{
    color: #212529;
    font-size: 13px;
    opacity: 0.5;
}

.intro-boxes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 395px));
    justify-content: center;
    gap: 0.75rem;
    padding: 20px 0;
}

.boxes{
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    /* background-color: rgba(211, 211, 211, 0.247); */
    background-color: rgba(230, 230, 230, 0.507);
    /* background: linear-gradient(rgba(236, 244, 245), rgba(245, 228, 228));; */
    padding: 20px 30px;
    border-radius: 10px;
    transition: box-shadow 0.5s;
}

/* .boxes:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
} */

.boxes h2{
    font-size: 35px;
    padding-bottom: 10px;
}

.boxes p{
    font-size: 13px;
    font-weight: 300;
}

.ab-wrapper{
    display: flex;
}

.ab-wrapper h3{
    font-size: 18px;
    margin-bottom: 5px;
}

.ab-wrapper p{
    font-size: 15px;
    font-weight: 300;
    margin-top: 5px;
}

.ab-wrapper p a{
    font-weight: 500;
}

iframe{
    width: 100%;
    height: 900px;
}

.ab-wrapper span{
    color: #212529;
    font-size: 13px;
    opacity: 0.5;
}

canvas{
    padding: 30px;
}

.chart-box{
    background-color: rgba(230, 230, 230, 0.507);
    border-radius: 10px;
    width: 395px;
    width: 100%;
}
.linegraph{
    height: 395px;
    background-color: rgba(230, 230, 230, 0.507);
    border-radius: 10px;
    width: 395px;
    width: 100%;
}

#chart_line{
    padding-left: 75px;
    padding-right: 75px;
}

/* .chart-box:not(:last-child){
    margin-right: 0.75rem;
} */

/* .chart-box:last-child{
    width: 100%;
} */

@media(max-width:590px){  
    .intro-boxes{
        grid-template-columns: repeat(auto-fit, minmax(0, 304px));
    }
    .linegraph{
        display: none;
    }
}
