@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}


#annualreport{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 24px;
}

#annualreport .container{
    width: 1300px;
    margin: auto;
    justify-content: center;
}

#annualreport .subcontainer{
    display: flex;
    width: 93%;
    margin: auto;
    justify-content: center;
}

#annualreport .filter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
}

#annualreport .filter-item{
    text-decoration: none;
    color: crimson;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    box-shadow: inset 0 0 0 0 crimson;
    cursor: pointer;
    width: 60px;
    text-align: center;
    padding: 3px 10px;
    border-radius: 8px;
}

#annualreport .active-filter{
    background-color: crimson;
    color: white;
}

#annualreport .filter-item:hover{
    color: #fff;
    box-shadow: inset 210px 0 0 0 crimson;
}

.annual-wrapper{
    width: 75%;
}

iframe{
    width: 100%;
    /*width: calc(100% + 17px);*/
    height: 1150px;
    /*display: block;*/
    /*border: none;*/
}

/*.annual-pdf {*/
/*  overflow-x: hidden;*/
/*}*/

@media(max-width:590px){
    .annual-wrapper{
        width: 100%;
    }
    
    iframe{
        height: 450px;
    }
}
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: lightgray; 
}