@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}


#commission{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 24px;
}

#commission .container{
    width: 1300px;
    margin: auto;
    justify-content: center;
}

#commission .subcontainer{
    width: 93%;
    margin: auto;
}


/* .com-container{
    display: flex;
} */
.com-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    width: 230px;
    margin: 0 auto;
}

select{
    width: 100%;
    height: 30px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    border: none;
    outline: none;
    border-bottom: 1px solid crimson;
    padding-left: 10px;
    /* appearance: none; */
    /* background: crimson; */
    cursor: pointer;
}


.bb{
    margin-top: 1.5rem;
}
.bb a{
    text-decoration: none;
    color: #303242;
}

.data{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 0.75rem;
    margin-top: 1.5rem;
}

/* .com-content{
    display: none;
} */

.data a{
    text-decoration: none;
    color: #303242;
}

.com-card{
    
    /*text-align: center;*/
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-image: linear-gradient(rgba(236, 244, 245, 0.7), rgba(245, 228, 228, 0.7)); */
    /* border-radius: 10px; */
    /*border-bottom: 1px solid crimson;*/
    /* border-bottom: 1px solid rgba(230, 230, 230, 0.7); */
    transition: transform 0.5s;
    
}

.com-card::after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 90%;
    padding-top: 12px;
    border-bottom: 1px solid lightgray;
}

.com-card span{
    /* background-color: crimson; */
    /* color: white; */
    padding-right: 5px;
    padding-left: 5px;
    font-size: 17px;
    font-weight: 600;
    /*color: crimson;*/
}

.com-card:hover{
    transform: translateY(-5px);
}

@media(min-width: 760px){
    .com-container{
        display: flex;
    }
}

#commission .filter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
}

#commission .filter-item{
    text-decoration: none;
    color: crimson;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    box-shadow: inset 0 0 0 0 crimson;
    cursor: pointer;
    width: 200px;
    text-align: center;
    padding: 3px 10px;
    border-radius: 8px;
}
#commission .filter-items{
    text-decoration: none;
    color: crimson;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    box-shadow: inset 0 0 0 0 crimson;
    cursor: pointer;
    text-align: center;
    padding: 3px 10px;
    border-radius: 8px;
}

#commission .active-filter{
    background-color: crimson;
    color: white;
}

#commission .filter-item:hover{
    color: #fff;
    box-shadow: inset 210px 0 0 0 crimson;
}

#commission .filter-items:hover{
    color: #fff;
    box-shadow: inset 100vw 0 0 0 crimson;
}

@media screen and (max-width: 1100px){
    #commission .filter-container{
        display: block;
        text-align: center;
    }

    #commission .filter-container div{
        margin: 5px auto;
    }
}
