@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat+Alternates:wght@800;900&family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;0,900;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    /* background: linear-gradient(rgba(236, 244, 245), rgba(245, 228, 228)); */
}

#event{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 24px;
}

#event .container{
    width: 1300px;
    margin: auto;
    justify-content: center;
}

#event .subcontainer{
    width: 93%;
    margin: auto;
}

#event .intro-text{
    text-align: center;
}

#event .intro-text h2{
    font-weight: 300;
}

#event .intro-text h2 span{
    font-weight: 800;
    color: crimson;
}

#event .intro-text .goal{
    font-size: 15px;
    margin-top: 10px;
    font-weight: 400;
}

#event .intro-text .date{
    padding-bottom: 10px;
}

#event .first{
    text-transform: uppercase;
    font-weight: 800;
}

#event .second{
    /* font-family: 'Lobster', cursive; */
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 40px;
    margin: 0;
    margin-left: 100px;
    margin-top: -0.6em;
    color: crimson;
    font-style: italic;
    /* text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1; */
    /* transform: rotate(-7deg); */
    }

#event .event-wrapper{
    width: 100%;
    /* max-width: 950px; */
    margin: 0 auto;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* grid-auto-rows: 200px; */
    grid-auto-flow: dense;
    grid-gap: 20px;
    text-align: center;
}

#event .event-wrapper .event-intro:nth-child(7n+1){
    grid-column: span 4;
}


#event .event-intro{
    background-color: rgba(230, 230, 230, 0.7);
    border-radius: 15px;
    padding: 30px 35px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#event .event-wrapper img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    max-width: none;
    filter: grayscale(100%);
    opacity: 0.2;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}

#event .event-intro:hover img{
    opacity: 0.1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

#event .day{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 2px;
}

#event .month{
    font-size: 15px;
}

#event hr{
    width: 50%;
    margin: auto;
    margin-top: 5px;
}

#event .title{
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    /* text-transform: uppercase; */
}

#event .top{
    -webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,35px,0);
	transform: translate3d(0,35px,0);
}

#event .event-intro:hover .top{
    -webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

#event .location{
    font-size: 14px;
    padding-top: 5px;
    border-radius: 10px;
    opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,35px,0) scale(1.1);
	transform: translate3d(0,35px,0) scale(1.1);
}

#event .event-intro:hover .location{
    opacity: 1;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}

#event .event-intro span{
    background-color: crimson;
    color: white;
    padding: 1px 12px;
    border-radius: 6px;
}

#event i{
    color: crimson;
    font-size: 18px;
    margin: 0 10px;
}

#cityofnomads{
    background-image: linear-gradient(rgba(236, 244, 245, 0.7), rgba(245, 228, 228, 0.7));
    padding: 64px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cityofnomads .container{
    width: 1300px;
    margin: auto;
}

#cityofnomads .subcontainer{
    width: 93%;
    margin: auto;
}

.logo-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 180px));
    justify-content: center;
    align-items: center;
}

#cityofnomads img{
    width: 110px;
    padding: 0 10px;
    filter: grayscale(100%);
    opacity: 0.7;
    transition: all 0.35s;
}

#cityofnomads img:hover{
    opacity: 1;
    filter: grayscale(0%);
    transform: translate3d(0,0,0) scale(.95);
}

.nomads-logo{
    padding: 0 20px;
    text-align: center;
}

.nomads-logo:nth-child(2){
    border-left: 1px solid crimson;
}


@media(max-width:1381px){
    #event .event-wrapper .event-intro:nth-child(7n+1){
        grid-column: unset;
    }

    #event .event-wrapper{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media(max-width:590px){
    .nomads-logo:nth-child(2){
        border-left: 0px;
        border-top: 1px solid crimson;
        margin-top: 20px;
        padding-top: 20px;
    }

    .second{
        margin-left: 50px;
    }
}