@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}


#position{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 24px;
}

#position .container{
    width: 1300px;
    margin: auto;
    justify-content: center;
}

#position .subcontainer{
    width: 93%;
    margin: auto;
}

.position{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    justify-content: center;
    gap: 0.75rem;
}

.position-box{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.5s;
}

.position a{
    text-decoration: none;
}

.position-box h3{
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #212529;
    display: -webkit-box;
    margin-bottom: 5px;
    transition: 0.3s ease;
}

.position-box .date{
    font-size: 13px;
    opacity: .5;
    color: #212529;
    /* margin-bottom: 5px; */
}

.position-box .res-title{
    font-size: 15px;
    font-weight: 600;
    color: crimson;
    margin: 5px 0;
}

.position-box:hover{
    transform: translateY(-5px);
}

.position-box:hover h3{
    color: #2125299a;
}

li{
    list-style: inside;
    font-size: 15px;
    font-weight: 300;
    color: #303242;
    /* padding-left: 10px; */
}

li::marker{
    color: crimson;
}

.position-box .req{
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.position-box .res{
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


