@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

body, html{
    overflow-x: hidden;
}
/* Header section */
#header{
    /* background-color: transparent; */
    /* background-color: white ; */
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 1000;
    display: flex;
}

#header .header{
    transition: 1s ease;
}

#header .container{
    width: 1350px;
    margin: 10px auto;
}
.navbar{
    margin: auto;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .hidden{
    display: none;
}

.logo{
    width: 100px;
    cursor: pointer;
}

.sticky{
    background-image: linear-gradient(rgba(236, 244, 245, 0.7), rgba(245, 228, 228, 0.7));
    /* background-color: rgba(245, 228, 228, 0.7); */
    /* background-color: crimson; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.nav-list{
    display: flex;
    /* background-color: white; */
    padding: 30px 25px;
    border-radius: 20px;
    background: rgba( 255, 255, 255, 0.55 );
/* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur( 14px );
    -webkit-backdrop-filter: blur( 14px );
    /* border-radius: 10px; */
    border: 1px solid rgba(245, 228, 228, 0.7);
}

.nav-list li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.nav-list>li>a{
    white-space:nowrap;
}

.nav-list li a{
    text-decoration: none;
    color: #212529;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    /* font-weight: 700; */
    /* padding-bottom: 20px; */
    padding: 5px 12px;
    transition: all 0.3s;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    box-shadow: inset 0 0 0 0 crimson;
    border-radius: 10px;
}

.nav-list li a:hover{
    color: white;
    /* font-weight: 700; */
    box-shadow: inset 100vw 100vh 0 0 crimson;

}

/* .nav-list li:not(li ul li):after{
    content: '';
    height: 3px;
    width: 0;
    background-color: crimson;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.3s;
}

.nav-list li:hover::after{
    width: 100%;
} */

.nav-list .nav-active{
    color: white;
    box-shadow: inset 100vw 100vh 0 0 crimson;
}

.header ul li ul{
    background: white;
    visibility: hidden;
    opacity: 0;
    /* min-width: 5rem; */
    width: 19rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 0.3rem;
    padding: 10px 0;
    left: 0;
    display: none;
    /* line-height: 2rem; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}

.header ul li ul .sub2-2{
    width: 10rem;
}

.header ul li ul .sub2{
    width: 13rem;
}

.header ul li ul .sub2-3{
    width: 11rem;
}

.nav-list li ul li:not(:nth-child(1)){
    margin-top: 1rem;
}

.nav-list li ul li a{
    font-weight: 600;
    /* margin-right: 15px; */
}

.nav-list li ul li a::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 20px;
    /* border: 1px solid; */
    transform: translateX(-100%);
}

.header ul li:hover > ul,
.header ul li:focus-within > ul,
.header ul li ul:hover,
.header ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}

.header ul li ul li {
    clear: both;
    width: 100%;
}

.header ul li ul a:hover{
    color: white;
    box-shadow: inset 100vw 100vh 0 0 crimson;
    /*color: crimson;*/
}


.sub2{
    position:relative;
    margin-left: 97%;
    width: 8rem;
    top: -1rem;
}

.sub2-2{
    position:relative;
    margin-left: -63%;
    top: -1rem;
}

.sub2-3{
    position:relative;
    margin-left: -68.3%;
    top: -1rem;
}

.sub2-4{
    position:relative;
    margin-left: -110.5%;
    top: -1rem;
}

.nav-icon{
    color: #212529;
    font-size: 22px;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1500;
    display: none;
}


@media screen and (max-width: 1024px) {
    
    .nav-list .hide{
        display: none;
    }

    .navbar .hidden{
        display: block;
    }

    /* .nav-list{
        position: fixed;
        top: 74px;
        left: 0;
        height: 80vh;
        align-items: initial;
        flex-direction: column;
        background-color: white;
        width: 100%;
        display: none;
        align-items: center;
    } */

    /* .nav-list > li{
        line-height: 3rem;
    } */

    /* .header ul li ul{
        position: initial;
        margin-left: 1rem;
        margin-top: 0;
        line-height: 1.5rem;
    } */

    /* .nav-list li:hover::after{
        width: 0%;
    }

    .nav-list li a:hover{
        color: crimson;
    }

    .nav-icon{
        display: block;
    }

    .nav-icon .fa-xmark{
        display: none;
    }

    nav.active .nav-icon .fa-xmark{
        display: block;
    }

    nav.active .nav-icon .fa-bars{
        display: none;
    }

    nav.active .nav-list{
        display: flex;
    }
    .header ul li ul .sub2-2{
        width: 15rem;
    }

    .header ul li ul .sub2{
        width: 15rem;
    }

    .header ul li ul .sub2-3{
        width: 15rem;
    } */
}


/* @media screen and (max-width: 1670px){
    .sub2{
        position:relative;
        margin-left: -79%;
        top: -1rem;
    }    
} */
/* End Header section */


/* banner area */
#name{
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(236, 244, 245, 0.6), rgba(245, 228, 228, 0.6)), url(../images/banner_index1.png);
}

#name .container{
    /* width: 80%; */
    /* width: 1300px; */
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
    padding-bottom: 150px;
    /* background-image: linear-gradient(rgba(236, 244, 245, 0.7), rgba(245, 217, 217, 0.7)); */
}


.sub-title{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    color: crimson;
    font-weight: 600;
}

/* #name .name{
    padding: 0 30px;
} */

#name h1{
    display: block;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    color: transparent;
    position: relative;
    animation: text-reveal 1s ease forwards;
    text-align: center;
    margin-bottom: 10px;
    /* animation-delay: 1.8s; */
}

#name h1:nth-child(1){
    animation-delay: 1.5s;
}

/* #name h1:nth-child(2){
    animation-delay: 1s;
} */

#name h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text-reveal-box 0.7s ease;
    /* animation-delay: 1s; */
    border-radius: 20px;
}

#name h1:nth-child(1) span{
    animation-delay: 1.3s;
}

/* 
#name h1:nth-child(2) span{
    animation-delay: .5s;
} */

#name .card-wrapper{
    display: flex;
    justify-content: center;
}

#name .card{
    width: 232px;
    /* height: 160px; */
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 10px 25px;
    align-items: center;
    cursor: pointer;
    margin: 10px 15px;
    background-color: white;
    border: 1px solid #f0f0f0;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    transition: all 0.3s;
    box-shadow: crimson 5px 5px, rgba(240, 46, 72, 0.4) 10px 10px, rgba(240, 46, 78, 0.3) 15px 15px, rgba(240, 46, 78, 0.086) 20px 20px;
}

#name .card-wrapper a{
    text-decoration: none;
    color: #212529;
}

#name .card h2{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#name .card p{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #212529;
    padding: 0 10px;
    /* padding-bottom: 10px; */
}

#name .card i{
    margin-left: 15px;
}

#name .card:hover{
    /* box-shadow: rgba(240, 46, 72, 0.4) 5px 5px, rgba(240, 46, 78, 0.3) 10px 10px, rgba(240, 46, 78, 0.086) 15px 15px; */
    scale: 1.05;
    /* transform: translateY(-5px); */
}

#name .card:hover i{
    color: crimson;
}

/* end of banner area */

#announcement{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

#announcement .container{
    width: 1300px;
    margin: auto;
}

#announcement .subcontainer{
    width: 93%;
    margin: auto;
    display: flex;
    justify-content: center;
    /*background-color: #ffc90d;*/
    border-radius: 20px;
    transition: all 0.5s;
}

#announcement .subcontainer a{
    text-decoration: none;
    color: #212529;
}

#announcement a{
    width: 100%;
}

#announcement .subcontainer:hover{
    box-shadow: rgba(214,214,216, 0.5) 7px 7px, rgba(214,214,216, 0.3) 14px 14px;
}

#announcement a img{
    width: 100%;
    border-radius: 15px;
    height:100%;
}

@media(max-width:590px){
    #announcement a img{
    width: 100%;
        border-radius: 15px;
    }
}

.ancmt-wrapper{
    padding: 32px 24px;
    background-color: rgba(245, 228, 228, 0.6);
    border-radius: 10px;
    text-align: center;
    transition: box-shadow 0.5s;
    display: flex;
    justify-content: center;
}


.ancmt-wrapper:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.left span{
    color: crimson;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    box-shadow: inset 0 0 0 0 crimson;
    padding: 0 10px;
    font-weight: 700;
    font-size: 13px;
}

.ancmt-wrapper:hover span{
    color: #fff;
    box-shadow: inset 210px 0 0 0 crimson;
}

.dayscount{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-right: 10px;
}

.dayscount h2{
    font-size: 35px;
}

.dayscount p{
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 0;
}

.left{
    background-color: white;
    border-radius: 10px;
    margin-left: 10px;
}

.left p{
    margin: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
}

@media screen and (max-width: 450px){
    .ancmt-wrapper{
        display: block;
    }

    .left{
        margin: 0;
        padding: 10px 0;
    }

    .dayscount{
        margin-right: 0;
        margin-bottom: 10px;
    }

    .left p{
        margin-top: 0;
    }
}

.readmore{
    text-align: right;
    padding-top: 10px;
}

.readmore a{
    color: crimson;
    padding: 5px 12px;
    text-decoration: none;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    box-shadow: inset 0 0 0 0 crimson;
    border-radius: 10px;
    font-size: 15px;
}

.readmore i{
    margin-left: 2px;
}

.readmore a:hover{
    color: #fff;
    box-shadow: inset 200px 0 0 0 crimson;
}

/* #learnmore button{
    height: 30px;
    width: 100px;
    border-radius: 10px;
    position: relative;
    margin-top: 30px;
} */

@media(max-width:1300px){
    #slider .container{
        width: 100%;
    }
}
/* end of news */

/* text */
#text{
    /* height: 230px; */
    /* border: 1px solid black; */
    background-image: linear-gradient(rgba(236, 244, 245, 0.7), rgba(245, 228, 228, 0.7));
    display: flex;
    padding: 64px 24px;
    /* justify-content: center; */
    /* align-items: center; */
}

#text .container{
    width: 1300px;
    margin: auto;
    
}

#text .subcontainer{
    width: 93%;
    margin: auto;
}

.wrapper{
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    /* padding: 64px 24px; */
    /* padding-top: 50px; */
    padding-bottom: 5px;
    /* padding-right: 30px; */
    /* padding-left: 30px; */
    /* padding: 50px 0 30px 30px; */
    font-size: 30px;
    font-weight: 700;
    height: 50px;
    margin-right: 30px;
}

.words{
    overflow: hidden;
}

#text span{
    display: block;
    height: 100%;
    padding-right: 10px;
    animation: spin_words 8s infinite;
    text-align: right;
    color: crimson;
}

@keyframes spin_words{
    10%{
        transform: translateY(-112%);
    }
    25%{
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-212%);
    }
    50%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(-312%);
    }
    75%{
        transform: translateY(-300%);
    }
    85%{
        transform: translateY(-412%);
    }
    100%{
        transform: translateY(-400%);
    }
}

.goal{
    font-size: 15px;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    margin: 0 100px;
    text-align: center;
    font-weight: 200;
    /* padding: 50px 30px; */
}
/* end of text */

/* Services */
:root{
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
  }

#services{
    /* height: 550px; */
    /* border: 1px solid black; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(rgba(245, 228, 228, 0.7), rgba(236, 244, 245, 0.7)); */
    display: flex;
    align-items: flex-start;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
}

#services .container{
    width: 1300px;
    margin: auto;
    
}

#services .subcontainer{
    width: 93%;
    margin: auto;
}

#services h2{
    font-size: 20px;
}

#services .services{
    display: flex;
    justify-content: space-between;
}

.card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 21px;
    grid-row-gap: var(--spacing-l);
    /*max-width: var(--width-container);*/
    width: 100%;
  }
  
@media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
@media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(4, 1fr); 
    }
  }
  
.servicecard{
    list-style: none;
    position: relative;
  }
  
.servicecard:before{
    content: '';
    display: block;
    padding-bottom: 100%;
    width: 100%;
  }
  
.card__background{
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
    filter 250ms linear,
    transform 250ms linear;
  }
  
.servicecard:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
.card-grid:hover > .servicecard:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
.card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }
  
.card__category{
    /* color: var(--text-light); */
    color: crimson;
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    /* text-transform: uppercase; */
    opacity: 0;
    transition: .5s ease;
  }
  
.card__heading{
    color: var(--text-lighter);
    font-size: 21px;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
    font-weight: 700;
    margin-top: 10px;
  }

.servicecard:hover .card__category{
    background-color: white;
    border-radius: 5px;
    padding: 0px 8px;
    opacity: 1;
}

/* end of services */

/* faq */
#faq{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 24px;
    background-image: linear-gradient(rgba(236, 244, 245, 0.7), rgba(245, 228, 228, 0.7));
    /* background-image: linear-gradient(rgba(245, 228, 228, 0.7), rgba(236, 244, 245, 0.7));  */
}

#faq .container{
    width: 1300px;
    margin: auto;
}

#faq .subcontainer{
    width: 93%;
    margin: auto;
    display: flex;
}

.faq-left{
    max-width: 290px;
    margin-right: 50px;
}

#faq h1, h2{
    font-size: 25px;
}

#faq .faq-left .title span{
    font-size: 22px;
    font-weight: 700;
    /* color: white; */
    background-color: crimson;
    color: white;
    box-shadow: rgba(240, 46, 72, 0.4) 5px 5px, rgba(240, 46, 78, 0.3) 10px 10px, rgba(240, 46, 78, 0.086) 15px 15px;
    width: 100%;
    border-radius: 11px;
    padding: 5px 12px;
    line-height: 2;
}


.faq-item{
    background-color: white;
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 20px 30px;
    border: 1px solid #f0f0f0;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
}

.faq-item h3{
    font-size: 16px;
    padding-bottom: 10px;
}

.faq-item p {
    font-size: 14px;
    font-weight: 300;
}

/* enf of faq */

/* video */
#video{
    /* height: 500px; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 24px;
    /* background-image: linear-gradient(rgba(236, 244, 245, 0.7), rgba(245, 228, 228, 0.7)); */
    /* background-image: linear-gradient(rgba(245, 228, 228, 0.7), rgba(236, 244, 245, 0.7)); */
}

#video .container{
    width: 1300px;
    margin: auto;
}

#video .subcontainer{
    width: 93%;
    margin: auto;
}

#video h2{
    font-size: 20px;
}

.video-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 21px;
    grid-row-gap: var(--spacing-l);
    /*max-width: var(--width-container);*/
    width: 100%;
}

@media(min-width: 540px){
    .video-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
}
  
@media(min-width: 960px){
    .video-grid{
      grid-template-columns: repeat(4, 1fr); 
    }
}

#video .video-grid{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


#video iframe{
    border-radius: 20px;
    height: 216.56px;
    width: 385px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* end of video */



/* footer */
#footer{
    background-color:#212529;
    display: flex;
}
#footer .container{
    width: 1300px;
    margin: auto;
}

#footer .subcontainer{
    width: 93%;
    margin: auto;
    padding: 80px 0;
}


#footer h1 {
    color: white;
    font-size: 15px;
    /* text-align: right; */
}

#footer .footer-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* text-align: center; */
    margin-top: 40px;
}

#footer .footer-item h2 {
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
} 

#footer .footer-item p {
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 300;
} 

#footer hr {
    margin: 40px 0;
    border: 0.5px solid #f0f0f043;
}


@media screen and (max-width: 1370px){
    /* #name .container{
        width: 1200px;
    } */

    .navbar{
        padding: 0 30px;
    }
}

@media screen and (max-width: 1220px){
    /* #name .container{
        width: 1100px;
    } */
    /* #name .card{
        width: 185px;
        height: 170px;
    }

    #name .card h2{
        font-size: 40px;
    }

    #name h1{
        font-size: 45px;
    } */
}

@media screen and (max-width: 1075px){
    /* #name h1{
        font-size: 40px;
    } */
    
}

@media screen and (max-width: 950px){
    /* #name .container{
        display: block;
    }

    #name .card-wrapper{
        padding: 0 20px;
    }

    #name .card{
        margin: 10px;
    } */
}

@media screen and (max-width: 450px){
    #name h1{
        font-size: 35px;
        margin: 10px 30px;
        /* padding-left: 50px; */
    }
    /* #name .name{
        text-align: center;
        margin-bottom: 10px;
    } */
    
    /* #name .sub-title{
        font-size: 13px;
    } */
    
    /* #name .card-wrapper{
        justify-content: center; 
        padding: 0 20px;
    } */

    /* #name .card{
        width: 150px;
        height: 135px;
        padding: 15px 20px;
    } */
    
    .navbar .hidden{
        display: block;
    }

    #name .card-wrapper {
        flex-wrap: wrap;
    }

    /* #name .card h2{
        font-size: 30px;
    } */
    
    #name .card p{
        font-size: 14px;
    }

    .nav-list {
        padding: 15px 10px;
        border-radius: 15px;
    }

    .nav-list li {
        margin: 0 3px;
    }

    #name h1 span{
        border-radius: 15px;
    }

    /* .card:hover::after{
        font-size: 13px;
    } */

    #name .container{
        padding-top: 150px;
        padding-bottom: 100px;
    }

    #slider h2{
        font-size: 18px;
    }

    #text .wrapper{
        font-size: 21px;
        margin-right: 10px;
    }

    #text .goal{
        margin: auto;
    }

    .services h2{
        font-size: 18px;
    }

    .servicecard:before{
        padding-bottom: 60%;
    }

    .card__heading{
        font-size: 20px;
        word-spacing: 0;
    }

    #faq .subcontainer{
        display: block;
        /* text-align: center; */
        /* line-height: 1rem; */
    }

    #faq .faq-left span{
        font-size: 18px;
    }

    #faq .faq-left{
        margin-right: 0;
        align-items: center;
        margin-bottom: 20px;
    }

    #faq .answer::before{
        height: 95%;
    }

    #video h2{
        font-size: 18px;
    }
    #video iframe{
        height: 185.63px;
        width: 100%;
    }

    #video .video-grid {
        display: block;
    }

    .video-content {
        padding-bottom: 24px;
    }

    .video-content:last-child {
        padding-bottom: 0;
    }

    
    #footer {
        padding: 0 30px;
    }

    #footer .footer-content{
        display: block;
    }
}

@media screen and (min-width:970px){
    .footer-distr{
        /* box-sizing: border-box; */
        text-align: left;
        padding: 100px 0;
        display: flex;
        justify-content: space-between;
        
    }
}

@media screen and (max-width: 970px){
    .footer-distr{
        padding: 50px 0;
    }

    .footer-distr .footer-name{
        margin: 0;
        padding-left: 10px;
    }

    .footer-distr .footer-mid{
        margin-left: 10px;
        margin-top: 10px;
    }

    .footer-distr .footer-right{
        margin-left: 10px;
        margin-top: 10px;
    }


    .footer-distr .footer-right p{
        margin-left: 15px;
        margin-top: 10px;
    }

    /* .servicecard:before{
        padding-bottom: 95%;
    } */
    
}

@media screen and (max-width: 1024px){
    .card__heading{
        font-size: 20px;
        word-spacing: 0;
    }
}

@media screen and (max-width: 768px){
    .servicecard:before{
        padding-bottom: 60%;
    }
}

/* end of footer */

/* keyframes */
@keyframes text-reveal-box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes text-reveal{
    100%{
        color: #212529;
    }
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
/* end of keyframes */



#atg{
    background-image: linear-gradient(rgba(236, 244, 245, 0.7), rgba(245, 228, 228, 0.7));
    padding: 64px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#atg .container{
    width: 1300px;
    margin: auto;
}

#atg .subcontainer{
    width: 93%;
    margin: auto;
}


#atg .atg-wrapper{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#atg .img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}


#atg .atg-left{
    padding-left: 50px;
}

#atg .atg-left a{
    text-decoration: none;
    background-color: crimson;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    transition: all .5s;
    font-size: 15px;
    margin-bottom: 10px;
}


#atg .atg-left a:hover{
    background-color: rgba(220, 20, 60, 0.671);
}


#atg .avliga_img{
    width: 110px;
}

#atg .atg-left i{
    font-size: 15px;
    padding-right: 5px;
}

#atg .avilga-intro h2{
    font-size: 20px;
    text-transform: uppercase;
    /* font-family: 'Lobster', cursive; */
}

#atg .avilga-intro h2:last-child{
    color: crimson;
}

#atg .avilga-intro{
    padding-bottom: 5px;
}

#atg .atg-left p{
    padding-bottom: 8px;
    font-size: 14px;
}

#atg .qr{
    padding: 0 25px;
    border-left: 1px solid crimson;
}

#atg .qr img{
    width: 105px;
    border-radius: 10px;
}

#atg .atg-logo{
    padding: 0 25px;
}

#atg .atg-logo img{
    width: 105px;

}

@media(max-width:590px){
    #atg .atg-wrapper{
        flex-direction: column;
        align-items: center;
    }

    #atg .atg-left{
        padding-left: 0;
        text-align: center;
    }

    #atg .img-wrapper{
        padding-bottom: 20px;
    }
}

#atg-video{
    padding: 64px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#atg-video .container{
    width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#atg-video .subcontainer{
    margin: auto;
    width: 93%;
}

#atg-video .atg-video{
    display: flex;
    align-items: center;
}

#atg-video .context{
    max-width: 500px;
    padding-left: 10px;
}

#atg-video .main-video{
    padding-right: 10px;
}

#atg-video .main-video iframe{
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#atg-2{
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
}

#atg-2 .container{
    width: 1300px;
    margin: auto;
    
}

#atg-2 .subcontainer{
    width: 93%;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: #ffc90d;
    border-radius: 15px;
    transition: all 0.5s;
}

#atg-2 .subcontainer:hover{
    box-shadow: rgba(241, 212, 107, 0.6) 7px 7px, rgba(247, 214, 97, 0.5) 14px 14px;
}

#atg-2 img{
    width: 60%;
    border-radius: 15px;
}

@media(max-width:590px){
    #atg-2 img{
    width: 100%;
    border-radius: 10px;
    }
}

@media(max-width: 590px){
    #atg-video{
        display: none;
    }
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: lightgray; 
    transition: all 1s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: gray; 
}


.card span{
    background-color: white;
    color: crimson;
    font-size: 11px;
}