@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}


#news ,#dynamic-post{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 24px;
}

#news .container, #dynamic-post .container{
    width: 1300px;
    margin: auto;
    justify-content: center;
}

#news .subcontainer, #dynamic-post .subcontainer{
    width: 93%;
    margin: auto;
}

#dynamic-post .subcontainer{
    display: flex;
}

/* .post-box img{
    width: 250px;
} */
.post{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    justify-content: center;
    gap: 20px;
}

.post-box{
    /*box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;*/
    padding: 10px;
    /*border-radius: 10px;*/
    transition: transform 0.5s;
    border-bottom: 1px solid rgba(211, 211, 211, 0.8);
    padding-bottom: 15px;
}


.post-img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    margin-bottom: 5px;
}

.post a{
    text-decoration: none;
}

.post-title h3{
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    color: #212529;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 5px;
    transition: 0.3s ease;
}

.post-box p{
    font-size: 15px;
    font-weight: 300;
    color: #303242;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post-box span{
    font-size: 13px;
    opacity: .5;
    color: #212529;
}

.post-box:hover{
    transform: translateY(-5px);
}

.post-title:hover h3{
    color: #2125299a;
}


#dynamic-post h3{
    font-size: 22px;
    font-weight: 600;
    color: #212529;
    margin-bottom: 5px;
}
/* 
#dynamic-post .att-img{
    width: 500px;
} */

#dynamic-post .att-img img{
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    margin: 5px 0;
}

#dynamic-post .other-img{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    justify-content: center;
    gap: 0.75rem;
    margin-top: 10px;
}

#dynamic-post .other-img img{
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
}

#dynamic-post p{
    font-size: 15px;
    font-weight: 300;
}

#dynamic-post .dynamicpost{
    margin-right: 15px;
    max-width: 877px;
}

#dynamic-post .dynamicpost p{
    line-height: 1.5;
}

hr{
    opacity: .3;
}

#dynamic-post .dynamicpost span{
    font-size: 13px;
    opacity: .5;
    color: #212529;
}

#dynamic-post .other-posts{
    max-width: 300px;
    margin-left: 15px;
}

#dynamic-post .other-posts .op-title1{
    font-weight: 600;
    font-size: 18px;
}

#dynamic-post .other-posts a{
    text-decoration: none;
    color: #212529;
}

#dynamic-post .other-card{
    display: flex;
    /*border-radius: 10px;*/
    /*box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;*/
    padding: 10px;
    margin-bottom: 15px;
    transition: .3s ease;
    border-bottom: 1px solid rgba(230, 230, 230, 0.7);
}

#dynamic-post .other-card img{
    width: 80px;
    height: 55px;
    /*margin-top: 3px;*/
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

#dynamic-post .other-post-content{
    margin-left: 10px;
    /* max-width: 300px; */
}

#dynamic-post .other-post-content .op-title2{
    font-size: 14px;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#dynamic-post .other-post-content p{
    font-size: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.other-card:hover{
    transform: translateY(-5px);
}



@media screen and (max-width: 1100px){
    .other-posts{
        display: none;
    }

    #dynamic-post .dynamicpost{
        margin-right: 0;
    }

    hr{
        display: none;
    }
}