@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* zoom: 99%; */
}

body{
    font-family: "Montserrat", sans-serif;
}

/* #tushaal{
    background-image: linear-gradient(rgba(236, 244, 245, 0.7), rgba(245, 228, 228, 0.7));
} */

#poll{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 24px;
}

#poll .container{
    width: 1300px;
    margin: auto;
    justify-content: center;
}

#poll .subcontainer{
    width: 93%;
    margin: auto;
}

.content{
    margin-top: 20px;
    display: flex;
}

.intro h3{
    font-size: 18px;
    margin-bottom: 5px;
}

.intro p{
    font-size: 15px;
    font-weight: 300;
    margin-top: 5px;
    text-align: justify;
}

.intro span{
    color: #212529;
    font-size: 13px;
    opacity: 0.5;
}

.link{
    margin-top: 20px;
    display: none;
}

.link a{
    text-decoration: none;
    color: white;
    background-color: crimson;
    padding: 2px 9px;
    border-radius: 7px;
}

.poll-pdf{
    margin-right: 15px;
    width: 100%;
}

hr{
    opacity: .3;
}

.poll-pdf .pdf-wrapper{
    margin-top: 10px;
}

#pdf{
    width: 100%;
    height: 975px;
}

.form{
    max-width: 400px;
    /* margin-left: 15px; */
}


@media screen and (max-width: 1100px){
    .form{
        display: none;
    }

    .poll-pdf{
        margin-right: 0;
        width: 100%;
    }

    hr{
        display: none;
    }

    .link{
        display: flex;
        justify-content: center;
    }
}


@media screen and (max-width: 450px){
    #pdf{
        height: 200px;
    }
}
