@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}


#standards{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 24px;
}

#standards .container{
    width: 1300px;
    margin: auto;
    justify-content: center;
}

#standards .subcontainer{
    width: 93%;
    margin: auto;
}



a.btn.btn-light.active{
    background-color: crimson;
    color: white;
    font-size: 15px;
    padding: 5px 12px;
}

a.btn.btn-light{
    font-size: 15px;
    padding: 5px 12px;
}

td span{
    background-color: crimson;
    color: white;
    margin-right: 5px;
    padding: 5px 12px;
    border-radius: 10px;
}

#tushaal td span:nth-child(2){
    background-color: white;
    color: #212529;
    font-size: 13px;
    opacity: 0.5;
}

#standards td span:nth-child(2){
    background-color: white;
    color: crimson;
    font-size: 12px;
}

#att td span{
    background-color: white;
    color: gray;
    font-size: 13px;
    padding: 0 5px;
    border-left: 1px solid black;
    border-radius: 0;
    margin-left: 5px;
}

table{
    width: 100%;
    /* table-layout: fixed; */
}

th, td{
    border-bottom: 1px solid rgba(230, 230, 230, 0.7);
    padding: 15px 20px;
    font-size: 15px;
    /* font-weight: 400; */
}

td a{
    color: crimson;
    padding: 5px 12px;
    text-decoration: none;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    box-shadow: inset 0 0 0 0 crimson;
    border-radius: 10px;
}

td a:hover{
    color: #fff;
    box-shadow: inset 200px 0 0 0 crimson;
}

td:nth-child(2){
    width: 126px;
    text-align: center;
}

td:nth-child(3){
    width: 163px;
    padding-left: 0;
    text-align: center;
}

.searchcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.box{
    max-width: 250px;
    width: 100%;
}

.box .search-box{
    position: relative;
    height: 30px;
    max-width: 230px;
    /* background-color: red; */
    margin: auto;
}

.search-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    /* border-radius: 25px; */
    outline: none;
    border: none;
    border-bottom: 1px solid crimson;
    padding-left: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

.search-box .searchicon{
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    /* background: crimson; */
    height: 100%;
    /* border-radius: 0 25px 25px 0; */
    line-height: 30px;
    color: crimson;
    text-align: center;
    font-size: 15px;
}

.noprj {
    text-align: center;
    margin: 80px 0;
}

@media screen and (max-width:400px){
    th, td{
        padding: 5px 5px;
        /* font-weight: 400; */
        font-size: 14px;
    }    
    
    td:nth-child(2){
    width: 80px;
    }
    
    td:nth-child(2), td:nth-child(3){
        display: block;
        border-bottom: none;
    }
    
    td:nth-child(3){
    width: 80px;
    }
    
    td span{
        padding: 2px 5px;
        border-radius: 7px;
    }
}

@media screen and (min-width:1300px){
    th, td{
        max-width: 880px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        /* font-weight: 400; */
    }
}






