@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}


#standard-one{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 24px;
}

#standard-one .container{
    width: 1300px;
    margin: auto;
    justify-content: center;
}

#standard-one .subcontainer{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}


.standard-wrapper{
    width: 100%;
}



/* hr{
    opacity: 0;
} */

iframe{
    width: 100%;
    height: 1200px;
    background-color: white;
}

.form iframe{
    height: 100%;
}

.standard-wrapper-pr{
    margin-right: 15px;
}


.standard-name span{
    font-size: 16px;
    background-color: crimson;
    color: white;
    margin-right: 5px;
    padding: 5px 12px;
    border-radius: 10px;
    font-weight: 600;
}

.standard-name span:nth-child(2){
    background-color: transparent;
    color: crimson;
    font-size: 13px;
}

.standard-info p{
    font-size: 15px;
    font-weight: 200;
    padding: 10px 0;
}

.standard-name h3{
    font-size: 16px;
    /* display: inline; */
    font-weight: 600;
}

.download i, .link i{
    margin-right: 8px;
}

.download, .link{
    padding: 20px 0;
    text-align: center;
}

.download a, .link a{
    color: crimson;
    padding: 5px 12px;
    text-decoration: none;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    box-shadow: inset 0 0 0 0 crimson;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
}

.download a:hover, .link a:hover{
    color: #fff;
    box-shadow: inset 200px 0 0 0 crimson;
}

.link{
    margin-top: 10px;
    display: none;
}

.standard-wrapper-pr .download{
    display: none;
}

@media screen and (max-width: 1100px){
    .form{
        display: none;
    }

    .standard-wrapper-pr{
        margin-right: 0;
        width: 100%;
    }

    hr{
        display: none;
    }

    .link{
        display: flex;
        justify-content: center;
    }
}


@media(max-width:590px){
    .standard-wrapper{
        width: 100%;
    }
    
    .standard-pdf iframe{
        display: none;
    }
    
    .standard-wrapper-pr .download{
        display: block;
    }
    .standard-pdf-project iframe{
        display: block;
        height: 130px;
    }
}


