@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

#survey{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 24px;
}

#survey .container{
    width: 1300px;
    margin: auto;
    justify-content: center;
}

#survey .subcontainer{
    width: 93%;
    margin: auto;
    display: block;
    text-align: center;
}

.link, .para{
    display: none;
    /* justify-content: center; */
}

.link a{
    text-decoration: none;
    color: white;
    background-color: crimson;
    padding: 2px 10px;
    border-radius: 7px;
}

@media screen and (max-width: 1100px){
    .form{
        display: none;
    }

    .link, .para{
        display: flex;
        justify-content: center;
    }

    .link{
        margin-top: 5px;
    }
}


