@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

#tender{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 24px;
}

#tender .container{
    width: 1300px;
    margin: auto;
    justify-content: center;
}

#tender .subcontainer{
    width: 93%;
    margin: auto;
}

#tender .tender{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    justify-content: center;
    gap: 0.75rem;
    padding-bottom: 20px;
}

#tender .tender-box{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.5s;
}

#tender .tender a{
    text-decoration: none;
}

#tender .tender-box h3, .tender-one h3{
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #212529;
    margin-bottom: 5px;
    transition: 0.3s ease;
}

.tender-box .date, .tender-one .date{
    font-size: 13px;
    opacity: .5;
    color: #212529;
    /* margin-bottom: 5px; */
}

.tender-box p, .tender-one p{
    font-size: 15px;
    font-weight: 600;
    color: #212529;
    font-weight: 300;
    margin: 5px 0;
}

.tender-box p{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.tender-box:hover{
    transform: translateY(-5px);
}

#tender .tender-box:hover h3{
    color: #2125299a;
}



.pagination a{
    /* text-decoration: none; */
    color: crimson;
    font-size: 16px;
    
    text-decoration: none;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    box-shadow: inset 0 0 0 0 crimson;
}

.pagination a:hover{
    color: #fff;
    box-shadow: inset 200px 0 0 0 crimson;
}

.pag-btn{
    /*margin: 0.2em;*/
    padding: 2px 8px;
    border-radius: 7px;
}


a.pag-btn.active{
    color: white;
    background-color: crimson;
}

.content-container{
    margin-top: 10px;
}

ol{
    margin: 5px 30px;
    font-size: 15px;
    text-align: justify;
}

ol ul{
    margin: 10px 20px;
}

ol li{
    margin: 5px 0;
}

ol ul li{
    margin-left: 20px;
}

ol li span{
    font-weight: 700;
    font-style: italic;
}

.tender-one p{
    text-align: center;
    font-weight: 600;
}
